@media only screen and (max-width: 600px) {
  .messagesContainer {
    height: 400px;
  }

  .messageInput {
    width: 90%;
  }

  .sendBtn {
    width: 10%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1280px) {
  .messagesContainer {
    height: 400px;
  }

  .messageInput {
    width: 90%;
  }
  .sendBtn {
    width: 10%;
  }
}

@media only screen and (min-width: 1280px) {
  .messagesContainer {
    height: 700px;
  }

  .messageInput {
    width: 95%;
  }
  .sendBtn {
    width: 5%;
  }
}

.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  text-align: justify;
  overflow-y: scroll;
  gap: 5px;
}

.message {
  display: inline-block;
  word-wrap: break-word;
  border-radius: 2px;
  padding: 5px;
  max-width: 75%;
}

.myMessages {
  background-color: purple;
  color: white;
  align-self: flex-end;
}

.theirMessages {
  background-color: lightgray;
  align-self: flex-start;
}

.inputContainer {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
}

.messageInput {
  padding: 5px;
  border-radius: 3px;
  height: 25px;
}

.sendBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: purple;
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
}
