.chatContainer {
  height: 95vh;
  display: flex;
  flex-direction: column;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  text-align: justify;
  height: 75%;
  overflow-y: scroll;
  padding-left: 5px;
  padding-right: 5px;
}
.message {
  display: inline-block;
  word-wrap: break-word;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  max-width: 75%;
}

.myMessages {
  background-color: purple;
  color: white;
  align-self: flex-end;
}

.theirMessages {
  background-color: lightgray;
  align-self: flex-start;
}

.inputContainer {
  margin-top: 5px;
  display: flex;
}

.messageInput {
  width: 95%;
}

.sendBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  cursor: pointer;
  background-color: purple;
  color: white;
  border: 1px solid black;
  border-radius: 2px;
  width: 5%;
}
